# Airbyte Provider config
airbyte_workspace_id = "<your-airbyte-workspace-id>"
airbyte_client_id = "<your-airbyte-client-id>"
airbyte_client_secret = "<your-airbyte-client-secret>"

airbyte_source_hackernews_rss = {
  "hackernews-rss-frontpage"   = "https://hnrss.org/frontpage"
  "hackernews-rss-jobs"        = "https://hnrss.org/jobs"
  "hackernews-rss-newcomments" = "https://hnrss.org/newcomments"
  "hackernews-rss-newest"      = "https://hnrss.org/newest"
}

airbyte_gcp_credentials_path = "<path-to-your-gcp-service-account-json>"
airbyte_destination_hackernews_bigquery = "bigquery-hackernews"

# Google Provider config
gcp_project_id = "<your-gcp-project-id>"
bq_hackernews_raw_dataset = "hackernews_rss_raw"
